.navcontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainnav {
    overflow: hidden;
    position: fixed;
    top: 20px;
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: #333333d5;
    -webkit-box-shadow: 0 8px 6px -6px #0e0e0eb0;
    -moz-box-shadow: 0 8px 6px -6px #0e0e0eb0;
    box-shadow: 0 8px 6px -6px #0e0e0eb0;
}

.mainnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
}

.mainnav .icon {
    display: none;
}

.mainnav .myLogo {
    padding: 8px;
    float: right;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    font-size: 12px;
}

.mainnav .active {
    background-color: rgba(255, 68, 0, 0.4);
    border-radius: 5px;
}

.mainnav a:hover {
    background-color: rgba(255, 68, 0, 0.8);
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .mainnav a:not(:first-child) {
        display: none;
    }

    .mainnav a.icon {
        float: left;
        display: block;
    }

}

@media screen and (max-width: 600px) {
    .mainnav.responsive {
        position: fixed;
    }

    .topmainnavnav.responsive a.icon {
        position: fixed;
        right: 0;
        top: 0;
    }

    .mainnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}